<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>	
	<div class="large-6 medium-4 columns">
	<ul class="accordion" data-accordion role="tablist">
	<li class="accordion-item is-active">
    <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Tour Name</a>
    <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				<label>Name
					<input type="text" placeholder="Tour Name">
				</label>
    </div>
	</li>
	<li class="accordion-item">
    <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Tour Type</a>
    <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
		<fieldset class="fieldset">
			<legend>Tour Length</legend>
			<input id="general" type="checkbox"><label>General</label>
			<input id="short" type="checkbox"><label>Short</label>
		</fieldset>
		<fieldset class="fieldset">
			<legend>Tour Type</legend>
				<input id="concrete" type="checkbox"><label>Concrete</label>
				<input id="steel" type="checkbox"><label>Steel</label>
				<input id="timber" type="checkbox"><label>Timber</label>
				<input id="connections" type="checkbox"><label>Connections</label>
				<input id="lateral" type="checkbox"><label>Lateral</label>		
		</fieldset>
	</div>
	</li>
	<li class="accordion-item">
    <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Coordinates</a>
    <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
		<div class="row">
			<div class="large-12 medium-4 columns">
				<fieldset class="fieldset">
					<legend>Coordinates</legend>
					<div class="medium-6 columns">
						<label>Longitude
							<input type="text" placeholder="123.4567">
						</label>
					</div>
				<div class="large-6 medium-4 columns">
					<label>Latitude</label>
					<input type="text" placeholder="123.45567">
			  </div>
			</div>
		</div>
	</div>
	</li>
	<li class="accordion-item">
    <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Images</a>
    <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
    </div>
	</li>
	<li class="accordion-item">
    <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Description of Tour Site</a>
    <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
		<div class="callout">
			<label>
			  Description of Tour site
			  <textarea placeholder="Description"></textarea>
			</label>
		</div>
	</div>
	</li>
	<li class="accordion-item">
    <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Technical Description of Tour Site</a>
    <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
		<div class="callout">
			<label>
			  Technical Description of Tour site
			  <textarea placeholder="Technical Description"></textarea>
			</label>
		</div>
	</div>
	</li>	
	<li class="accordion-item">
    <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Quiz</a>
    <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
		<div id="quiz">
			<div id="initQuiz">
			<form>
				<p>Quiz Name:
				<input type="text" id="quizName">
				</p>
				<p><br>
				  Tour link ID:
				  <input type="text" id="tourID">
				  <br>
				</p>
				<p>
				  <input type="button" value="Submit" id="newQuiz">
				</p>
			</form>
		</div>
		<div id="questions">

		</div>
		<div>
			<div id="submittedQuestions">
			</div>
		</div>
		</div>
	</div>
	</li>
	</ul>

		<input type="button" value="Submit" id="submitTourSite">
	</div>
	
    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/what-input.min.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/app.js"></script>
	<script src="../js/Quiz.js"></script>
	<script src="../js/quizHelper.js"></script>
  </body>
</html>
