<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>
	<ul class="sub-nav menu" role="navigation">
		<li class="active"><span class="show-for-sr"></span><a href="../html/creatTour.html">Create Tour</a></li>
		<li><a href="../html/createTourSite.html">Create Tour Site</a></li>
		<li><a href="../html/createTest.html">Create Test</a></li>
		<li><a href="#">Edit Tours</a></li>
		<li><a href="#">Edit Tests</a></li>
	</ul>
	<ul class="accordion" data-accordion role="tablist">
	  <li class="accordion-item is-active">
		<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Toursite 1</a>
		<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
		</div>
	  </li>
	  <li class="accordion-item">
		<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Toursite 2</a>
		<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
		</div>
	  </li>
	  <li class="accordion-item">
		<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Toursite 3</a>
		<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
		</div>
	  </li>
	</ul>

    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/what-input.min.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
