<div class="large-6 medium-4 columns">
	<link rel="stylesheet" href="css/foundation.css" />
	<link rel="stylesheet" href="css/app.css" />
	<script src="lib/jquery.min.js"></script>
	<script src="lib/what-input.min.js"></script>
	<script src="lib/foundation.min.js"></script>
	<script src="js/app.js"></script>
	
	<ul class="sub-nav menu" role="navigation">
		<li><span class="show-for-sr"></span><a href="/site/view">View Sites</a></li>
		<li><a href="/site/add">Add a Tour Site</a></li>
		<li class="active"><a href="/site/edit">Edit a Site</a></li>
	</ul>
	<div>
		<label>Name</label>
		<!--<input type="text" placeholder="Tour Name" ng-model="formData.title">-->
		<label>{{formData.title}}</label>

		<fieldset class="fieldset">
			<legend>Tour Length</legend>
			<input id="general" type="checkbox" ng-model="formData.types.general"><label>General</label>
			<input id="short" type="checkbox" ng-model="formData.types.shortType"><label>Short</label>
		</fieldset>
		<fieldset class="fieldset">
			<legend>Tour Type</legend>
				<input id="concrete" type="checkbox" ng-model="formData.types.concrete"><label>Concrete</label>
				<input id="steel" type="checkbox" ng-model="formData.types.steel"><label>Steel</label>
				<input id="timber" type="checkbox" ng-model="formData.types.timber"><label>Timber</label>
				<input id="connections" type="checkbox" ng-model="formData.types.connections"><label>Connections</label>
				<input id="lateral" type="checkbox" ng-model="formData.types.lateral"><label>Lateral</label>		
		</fieldset>

		<fieldset class="fieldset">
			<legend>Coordinates</legend>
			
			<label>Latitude</label>
			<input type="text" placeholder="38.5651845" ng-model="formData.lat">
			
			<label>Longitude</label>
			<input type="text" placeholder="-121.4170459" ng-model="formData.lon">

		</fieldset>

		<label>Description of Tour site</label>
		<textarea placeholder="Description" ng-model="formData.description"></textarea>
		
		<label>Technical Description of Tour site</label>
		<textarea placeholder="Technical Description" ng-model="formData.technical"></textarea>
		
	</div>
	<input type="button" value="Save" id="saveTourSite" ng-click="saveForm()">
</div>
	