doctype html
html
	head
		script(src="/javascripts/jquery-2.1.4.js")
		script(src='/javascripts/quiz.js')
		script(src='/javascripts/editQuizUI.js')		
		script.
			$(document).ready(function(){
				var quizData = !{JSON.stringify(quiz)};	
				window.onload = setQuiz(quizData);
			});
	body
		#quiz 
			#initQuiz
			#questions