<!DOCTYPE html>
<html>
	<head>
		<title>Index page</title>
		

	</head>

	<body>
		<section ng-view></section>
		<script type="text/javascript" src="application.js"></script>
		<script type="text/javascript" src="/js/angular/angular.js"></script>
		<script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="/js/angular-resource.min.js"></script>
		<script type="text/javascript" src="/example/client.controller.js"></script>
		<script type="text/javascript" src="/example/config/example.client.routes.js"></script>
	</body>
</html>