<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>
	
	<form>
		<p>Quiz Name:
		<input type="text" id="quizName">
		</p>
		
		<ul class="accordion" data-accordion role="tablist">
		  <li class="accordion-item is-active">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 1</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q1" id='question1'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q1-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q1-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q1-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q1-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q1-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>
			</div>
		  </li>
		  <li class="accordion-item">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 2</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q2" id='q2'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q2-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q2-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q2-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q2-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q2-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>			
			</div>
		  </li>
		  <li class="accordion-item">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 3</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q3" id='q3'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q3-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q3-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q3-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q3-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q3-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>			
			</div>
		  </li>
		  <li class="accordion-item">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 4</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q4" id='q4'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q4-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q4-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q4-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q4-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q4-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>			
			</div>
		  </li>	
		  <li class="accordion-item">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 5</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q5" id='q5'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q5-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q5-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q5-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q5-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q5-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>			
			</div>
		  </li>
		  <li class="accordion-item">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 6</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q6" id='q6'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q6-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q6-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q6-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q6-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q6-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>			
			</div>
		  </li>
		  <li class="accordion-item">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 7</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q7" id='q7'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q7-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q7-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q7-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q7-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q7-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>			
			</div>
		  </li>
		  <li class="accordion-item">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 8</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q8" id='q8'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q8-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q8-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q8-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q8-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q8-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>			
			</div>
		  </li>
		  <li class="accordion-item">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 9</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q9" id='q9'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q9-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q9-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q9-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q9-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q9-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>			
			</div>
		  </li>
		  <li class="accordion-item">
			<a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Question 10</a>
			<div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
				Question:<input type='text' ng-model="q10" id='q10'>
				Possible Answers:<br>
				Answer 1: <input type='text' ng-model="q10-op1" id='answer1'>
				Answer 2: <input type='text' ng-model="q10-op2" id='answer2'>
				Answer 3: <input type='text' ng-model="q10-op3" id='answer3'>
				Answer 4: <input type='text' ng-model="q10-op4" id='answer4'>
				Answer 5: <input type='text' ng-model="q10-op5" id='answer5'>
				Answer key: <input type='text' id='answerKey'>			
			</div>
		  </li>		  
		</ul>		
		<input type="button" value="Submit" id="newQuiz">
	</form>

    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/what-input.min.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
